.product-card{
  padding: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-top: 40px;
  gap:24px;
  transition: .3s ease-out;
}
.product-card:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,.05);
}
.product-card:hover .product-card-image{
  background-color: #c9dee7;
}
.product-card-image{
  width: 100%;
  height: 310px;
  background-color: #D8EDF7;
  border-radius: 16px;
  padding: 20px;
  margin-top: -40px;
  margin-bottom: 24px;
  overflow: hidden;
  transition: .3s ease-out;
}

.product-card-image img{
  width: 100%;
  height:100%;
  object-fit: contain;
}
.product-card h4{
  font-weight: 700;
  font-size: 16px;
  color: #465681;
  margin-bottom: 8px;
}
.product-card span{
  font-weight: 400;
  font-size: 16px;
  color: #677894;
}
.product-card .product-card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .product-card-price{
  font-size: 16px;
  font-weight: 700;
  color: #465681;
}
.product-card .product-card-price span{
  font-size: 10px;
  font-weight: 700;
  color: #465681;
}
.product-card .button{
  gap:5px
}


@media (max-width: 1200px) {
  .product-card-image{
    height: 230px;
    padding: 15px;
    margin-bottom: 12px;
  }
  .product-card h4{
    font-size: 14px;
    margin-bottom: 4px;
  }
  .product-card span{
    font-size: 14px;
  }
  .product-card .product-card-price{
    font-size: 14px;
  }
  .product-card .button{
    height: 38px;
    padding: 0px 8px;
  }
}