@import url('utils/root.css');
@import url('sections/header.css');
@import url('sections/hero.css');
@import url('sections/section.css');
@import url('cards/product-card.css');
@import url('cards/feature-card.css');
@import url('sections/cta.css');

.features {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.features-col {
  flex: 1;
  max-width: 49.9%;
  min-width: 220px;
}

@media (max-width: 1600px) {
  .features-col {
    min-width: 300px;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .features-col {
    max-width: 49.9%;
    min-width: 200px;
  }
}
@media (max-width: 767px) {
  .features-col {
    max-width: 100%;
    min-width: 200px;
  }
}
